canvas {
  width: 240px !important;
  height: 240px !important;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.router-link-active {
  font-weight: bold;
}
